<nav class="navbar">
   <div class="row col-md-12">
      <div class="col-md-6 navHead">
          <a routerLink="home" class="hme">MyNg2</a>
          <div class="btn-group">
            <a href="">全部校区堆积咨询量</a>
            <a href="">审批流程</a>
         </div>
      </div>
      <div class="col-md-6" align="right">
         <div class="input-group">
            <input type="text">
            <button class="input-group-addon">搜索</button>
            <button class="input-group-addon">查重</button>
         </div>
      </div>
   </div>
</nav>