<div class="panel panel-default">
   <div class="panel-body titWrap">
       ADA日接量设置
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-body">
       <table class="table table-striped table-hover table-bordered">
           <thead>
              <tr>
              	<td>序号</td>
              	<td>教育顾问</td>
              	<td>手机号</td>
              	<td>校区</td>
              	<td>职位</td>
              	<td>教育顾问每天能接量最大值</td>
              	<td>是否可接量</td>
              </tr>
           </thead>
           <tbody>
              <tr *ngFor="let item of ROUTE | paginate: {itemsPerPage: 10,currentPage: p}">
              	<td>{{item.index}}</td>
              	<td>{{item.advisor}}</td>
              	<td>{{item.phone}}</td>
              	<td>{{item.camp}}</td>
              	<td>{{item.work}}</td>
              	<td>{{item.max}}</td>
              	<td>
                   <input type="checkbox"> 是
              	</td>
              </tr>
           </tbody>
       </table>
      <pagination-controls previousLabel="上一页" nextLabel="下一页"  (pageChange)="p = $event"></pagination-controls>
   </div>
</div>
