<div class="panel panel-default">
   <div class="panel-body titWrap">
       咨询量管理
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-body form-border">
      <form>
            <div class="form-group row">
               <label class="col-md-1 control-label" align="right">建表人</label>
               <p class="col-md-2">
                  <select name="" class="form-control">
                    <option value="">全部</option>
                    <option value="1">iwen</option>
                    <option value="2">dunk</option>
                    <option value="3">jack</option>
                  </select>
               </p>
               <label class="col-md-1" align="right">分配状态</label>
               <p class="col-md-2">
                  <select name="" class="form-control">
                    <option value="">全部</option>
                    <option value="1">为分配</option>
                    <option value="2">已分配</option>
                    <option value="3">预约分配中</option>
                  </select>
               </p>
               <label class="col-md-1" align="right">在线等级</label>
               <p class="col-md-2">
                  <select name="" class="form-control">
                    <option value="">请选择</option>
                    <option value="1">一级</option>
                    <option value="2">二级</option>
                    <option value="3">三级</option>
                    <option value="3">网校</option>
                  </select>
               </p>
               <label class="col-md-1" align="right">招生等级</label>
               <p class="col-md-2">
                  <select name="" class="form-control">
                    <option value="">请选择</option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="3">D</option>
                  </select>
               </p>
            </div>
            <div class="form-group row text-center">
                <button class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
      </form>
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-body">
       <table class="table table-striped table-hover table-bordered">
           <thead>
              <tr>
              	<td width="52">序号</td>
              	<td>姓名</td>
              	<td>联系方式</td>
              	<td>反馈</td>
              	<td>报名意向</td>
              	<td>报名班级</td>
              	<td>建表人</td>
              	<td>责任人</td>
              	<td>管理</td>
              </tr>
           </thead>
           <tbody>
              <tr>
              	<td>1</td>
              	<td>iwen</td>
              	<td>18910056525</td>
              	<td>第5此反馈</td>
              	<td>室内设计系</td>
              	<td>1806期影视模型渲染设计师班1班</td>
              	<td>
                   <p>单秀妍</p>
                   <p>2018-06-22 18:23:48</p>
              	</td>
              	<td>
                   <p>单秀妍</p>
                   <p>2018-06-22 18:23:48</p>
              	</td>
              	<td>
                   <button class="btn btn-sm btn-primary">编辑</button>
                   <button class="btn btn-sm btn-primary">查看</button>
                   <button class="btn btn-sm btn-primary">反馈</button>
              	</td>
              </tr>
              <tr>
              	<td>2</td>
              	<td>iwen</td>
              	<td>18910056525</td>
              	<td>第5此反馈</td>
              	<td>室内设计系</td>
              	<td>1806期影视模型渲染设计师班1班</td>
              	<td>
                   <p>单秀妍</p>
                   <p>2018-06-22 18:23:48</p>
              	</td>
              	<td>
                   <p>单秀妍</p>
                   <p>2018-06-22 18:23:48</p>
              	</td>
              	<td>
                   <button class="btn btn-sm btn-primary">编辑</button>
                   <button class="btn btn-sm btn-primary">查看</button>
                   <button class="btn btn-sm btn-primary">反馈</button>
              	</td>
              </tr>
           </tbody>
       </table>
   </div>
</div>
