<div class="wrapper">
	<div class="loginBox">
	    <h4 align="center">用户登录</h4>
		<form>
		  <div class="form-group row">
		    <label class="col-md-2" for="username" align="right">用户名：</label>
		    <p class="col-md-10">
               <input type="text" class="form-control" id="username" placeholder="username">
		    </p>
		  </div>
		  <div class="form-group row">
		    <label class="col-md-2" for="psd" align="right">密码：</label>
		    <p class="col-md-10">
               <input type="password" class="form-control" id="psd" placeholder="Password">
		    </p>
		  </div>
		  <p class="sub">
               <a (click)="home()" type="button" class="btn btn-primary">提交</a>
		  </p>
		</form>
	</div>
</div>