<div class="panel panel-default">
   <div class="panel-body titWrap">
       招生首页
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-body">
       <p class="tolTit">日工作概览</p>
       <div class="row itemTol">
            <p class="col-md-1">今日接量</p>
            <p class="col-md-1">接量上限</p>
            <p class="col-md-1">今日成功报名</p>
            <p class="col-md-1">今日退学</p>
            <p class="col-md-1">未反馈个数</p>
            <p class="col-md-1">28天以上未反馈</p>
            <p class="col-md-1">今日反馈提醒</p>
            <p class="col-md-1">需退费人数</p>
            <p class="col-md-1">今日反馈数量</p>
            <p class="col-md-1">无限期总数</p>
            <p class="col-md-1">不确定期总数</p>
       </div>
       <div class="row itemTol">
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
            <p class="col-md-1">0</p>
       </div>
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-body">
       <p class="tolTit">净增报名排行榜</p>
       <div class="row">
           <div class="col-md-6">
             <div class="panel panel-default">
               <h6 align="center">全国团队报名排行榜</h6>
               <div class="panel-body">
                  <table class="table table-bordered border-hover">
                     <tr>
                       <td>排名</td>
                       <td>校区</td>
                       <td>团队经理</td>
                     </tr>
                     <tr>
                       <td>1</td>
                       <td>北京总部</td>
                       <td>张三</td>
                     </tr>
                     <tr>
                       <td>2</td>
                       <td>南京总部</td>
                       <td>李四</td>
                     </tr>
                  </table>
               </div>
             </div>
           </div>
           <div class="col-md-6">
             <div class="panel panel-default">
               <h6 align="center">全国销售冠军排行榜</h6>
               <div class="panel-body">
                  <table class="table table-bordered border-hover">
                     <tr>
                       <td>排名</td>
                       <td>校区</td>
                       <td>姓名</td>
                     </tr>
                     <tr>
                       <td>1</td>
                       <td>北京总部</td>
                       <td>张三</td>
                     </tr>
                     <tr>
                       <td>2</td>
                       <td>南京总部</td>
                       <td>李四</td>
                     </tr>
                  </table>
               </div>
             </div>
           </div>
       </div>
   </div>
</div>
