<div class="panel panel-default">
   <div class="panel-body titWrap">
       在线建表
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-body">
       <form class="form row">
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">姓名</label>
              <p class="col-md-6">
                 <input type="text" class="form-control">
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">手机</label>
              <p class="col-md-6">
                 <input type="text" class="form-control">
              </p>
           </div> 
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">咨询方式</label>
              <p class="col-md-6">
                 <select name="" id="" class="form-control">
                 	<option value="">53客服</option>
                 	<option value="">企业QQ</option>
                 </select>
              </p>
           </div>
            <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">校区</label>
              <p class="col-md-6">
                 <select name="" id="" class="form-control">
                 	<option value="">北京总部</option>
                 	<option value="">上海浦东中心</option>
                 </select>
              </p>
           </div>
            <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">当前区域</label>
              <p class="col-md-2">
                 <select name="" id="" class="form-control">
                    <option value="">北京</option>
                    <option value="">上海</option>
                 </select>
              </p>
              <label class="col-md-1">省</label>
              <p class="col-md-2">
                 <select name="" id="" class="form-control">
                    <option value="">北京</option>
                    <option value="">上海</option>
                 </select>
              </p>
              <label class="col-md-1">市</label>
              <p class="col-md-2">
                 <select name="" id="" class="form-control">
                    <option value="">北京</option>
                    <option value="">上海</option>
                 </select>
              </p>
              <label class="col-md-1">县</label>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">校区</label>
              <p class="col-md-6">
                <select name="" id="" class="form-control">
                    <option value="">北京总部</option>
                    <option value="">上海</option>
                 </select>
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">咨询方式</label>
              <p class="col-md-6">
                <select name="" id="" class="form-control">
                    <option value="">推荐</option>
                    <option value="">400电话</option>
                    <option value="">面谈</option>
                 </select>
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">在线等级</label>
              <div class="col-md-10 profess">
                <input type="checkbox">一级
                <input type="checkbox">二级
                <input type="checkbox">三级
                <input type="checkbox">网校
              </div>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">名族</label>
              <p class="col-md-6">
                <select name="" id="" class="form-control">
                    <option value="">汉族</option>
                    <option value="">回族</option>
                    <option value="">满族</option>
                 </select>
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">备注</label>
              <p class="col-md-6">
                 <textarea class="form-control"> </textarea>
              </p>
           </div>
       </form>
       <p class="conFooter">
           <button class="btn btn-sm btn-primary">保存</button>
           <button class="btn btn-sm btn-primary">清空表单</button>
       </p>
   </div>
</div>
