<div class="sidebarBox">
	<div class="sidebar">
		<ul>
		   <li>
               <p class="imgBox"><img src="assets/images/head.jpg" alt=""></p>
               <p class="user user_text">hello iwen</p>
               <p class="user">{{time | date:"yyyy-MM-dd hh:mm:ss"}}</p>
               <p class="user logout"><a routerLink="login">退出</a></p>
		   </li>
		   <li routerLinkActive="active"><a routerLink="admin"><i class="fa fa-first-order"></i>招生首页</a></li>
		   <li routerLinkActive="active"><a routerLink="report"><i class="fa fa-bar-chart"></i>报表中心</a></li>
		   <li routerLinkActive="active"><a routerLink="inquiriesmanage"><i class="fa fa-volume-control-phone"></i>咨询列表</a></li>
		   <li routerLinkActive="active"><a routerLink="echart"><i class="fa fa-area-chart"></i>ADA日接量设置</a></li>
		   <li routerLinkActive="active"><a routerLink="entrance"><i class="fa fa-sign-in"></i>入学建表</a></li>
		   <li routerLinkActive="active"><a routerLink="education_advisor"><i class="fa fa-area-chart"></i>招生建表</a></li>
		   <li routerLinkActive="active"><a routerLink="consultation"><i class="fa fa-link"></i>在线建表</a></li>
		   <li routerLinkActive="active"><a routerLink="ditch_advisor"><i class="fa fa-road"></i>渠道建表</a></li>
		</ul>
	</div>
</div>
