<div class="panel panel-default">
   <div class="panel-body titWrap">
       招生建表
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-body">
       <h5 class="itemTit" align="center">基本消息</h5>
       <form class="form row">
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">姓名</label>
              <p class="col-md-6">
                 <input type="text" class="form-control">
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">手机</label>
              <p class="col-md-6">
                 <input type="text" class="form-control">
              </p>
           </div> 
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">QQ</label>
              <p class="col-md-6">
                 <input type="text" class="form-control">
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">微信</label>
              <p class="col-md-6">
                 <input type="text" class="form-control">
              </p>
           </div>
            <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">Email</label>
              <p class="col-md-6">
                 <input type="email" class="form-control">
              </p>
           </div>
            <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">当前区域</label>
              <p class="col-md-2">
                 <select name="" id="" class="form-control">
                    <option value="">北京</option>
                    <option value="">上海</option>
                 </select>
              </p>
              <label class="col-md-1">省</label>
              <p class="col-md-2">
                 <select name="" id="" class="form-control">
                    <option value="">北京</option>
                    <option value="">上海</option>
                 </select>
              </p>
              <label class="col-md-1">市</label>
              <p class="col-md-2">
                 <select name="" id="" class="form-control">
                    <option value="">北京</option>
                    <option value="">上海</option>
                 </select>
              </p>
              <label class="col-md-1">县</label>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">校区</label>
              <p class="col-md-6">
                <select name="" id="" class="form-control">
                    <option value="">北京总部</option>
                    <option value="">上海</option>
                 </select>
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">咨询方式</label>
              <p class="col-md-6">
                <select name="" id="" class="form-control">
                    <option value="">推荐</option>
                    <option value="">400电话</option>
                    <option value="">面谈</option>
                 </select>
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">报名意向</label>
              <div class="col-md-10 profess">
                <input type="checkbox">传统美术系
                <input type="checkbox">互动媒体系
                <input type="checkbox">室内设计系
                <input type="checkbox">游戏设计系
                <input type="checkbox">影视特效系
                <input type="checkbox">WEB前端+全栈
              </div>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">证件类型</label>
              <div class="col-md-10 profess">
                <input type="radio" name="cardType">身份证
                <input type="radio" name="cardType">护照                
              </div>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">证件号码</label>
              <div class="col-md-6 profess">
                <input type="text" class="form-control">
              </div>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">性别</label>
              <div class="col-md-10 profess">
                <input type="radio" name="sex">男
                <input type="radio" name="sex">女                
              </div>
           </div>
            <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">名族</label>
              <p class="col-md-6">
                <select name="" id="" class="form-control">
                    <option value="">汉族</option>
                    <option value="">回族</option>
                    <option value="">满族</option>
                 </select>
              </p>
           </div>
            <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">行业基础</label>
              <p class="col-md-6">
                <select name="" id="" class="form-control">
                    <option value="">软件基础</option>
                    <option value="">美术基础</option>
                    <option value="">软件及美术基础</option>
                    <option value="">无基础</option>
                 </select>
              </p>
           </div>
       </form>
       <h5 class="itemTit" align="center">用户状态</h5>
       <form class="form row">
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">学校名称</label>
              <p class="col-md-6">
                 <input type="text" class="form-control">
              </p>
           </div> 
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">学习阶段</label>
              <p class="col-md-6">
                 <select name="" class="form-control" id="">
                    <option value="">高中</option>
                    <option value="">大一</option>
                    <option value="">大二</option>
                 </select>
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">学习地点</label>
              <p class="col-md-6">
                 <input type="text" class="form-control">
              </p>
           </div>
            <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">学历证书</label>
              <p class="col-md-6 profess">
                 <input type="radio" name="state">有
                 <input type="radio" name="state">无
              </p>
           </div>
           <div class="col-md-6 row">
              <label for="" class="col-md-2" align="right">当前状态</label>
              <p class="col-md-6 profess">
                 <input type="radio" name="state">在校
                 <input type="radio" name="state">在职
                 <input type="radio" name="state">待业
              </p>
           </div>
        </form>
       <p class="conFooter">
           <button class="btn btn-sm btn-primary">保存</button>
           <button class="btn btn-sm btn-primary">清空表单</button>
       </p>
   </div>
</div>
